<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--Local Dev-->
    <add name="LessonsLearnedMPEntities" connectionString="metadata=res://*/LessonsLearnedMPModel.csdl|res://*/LessonsLearnedMPModel.ssdl|res://*/LessonsLearnedMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LessonsLearnedMP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Dev-->
    <!--
	<add name="LessonsLearnedMPEntities" connectionString="metadata=res://*/LessonsLearnedMPModel.csdl|res://*/LessonsLearnedMPModel.ssdl|res://*/LessonsLearnedMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLDEVCGY015V2\SQLDEVCGY015V2;initial catalog=CLLPDEV;User Id=llp_admin;Password=pw4Llp;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
    <!--Production-->
    <!--
	<add name="LessonsLearnedMPEntities" connectionString="metadata=res://*/LessonsLearnedMPModel.csdl|res://*/LessonsLearnedMPModel.ssdl|res://*/LessonsLearnedMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLPRDCGY015V2\SQLPRDCGY015V2;initial catalog=CLLPPRD;User=llp_admin;Password=pw4Llp;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	-->
  </connectionStrings>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <LogName value="llmp_service" />
      <applicationName value="llmp_service" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\\LessonsLearnedMP_Web\logs\lessonslearned_service.log" />
      <!-- Example using environment variables in params -->
      <!-- <param name="File" value="${TMP}\\ApplicationKit.log" /> -->
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\LessonsLearnedMP_Web\logs\lessonslearned_service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- Every 30 minutes -->
    <add key="SchedulerPollIntervalInSeconds" value="1800" />
    <!-- 1 AM Server Time -->
    <add key="SchedulerRefreshAfterHour" value="1" />
    <!-- Production Roles -->
    <!--<add key="Group_Admin" value="SG-LLRD-MP-ADMIN"/>
    <add key="Group_LLCoordinator" value="SG-LLRD-MP-COORDINATOR"/>
    <add key="Group_BPO" value="SG-LLRD-MP-BPO"/>
    <add key="Domain" value="NETWORK" />-->

    <add key="ApplicationPool_ServiceAccount_UserName" value="LLearnMP"/>
    <add key="ApplicationPool_ServiceAccount_Password" value="L7@964!fR5"/>
    <!-- Development Roles (Ideaca Domain) -->
    <add key="Domain" value="IDEACA" />
    <add key="Group_Admin" value="@IKS Edmonton Development" />
    <add key="Group_LLCoordinator" value="BayerAdmin" />
    <add key="Group_BPO" value="MVC" />
    <add key="ApplicationPool_ServiceAccount_UserName" value="dsteinke" />
    <add key="ApplicationPool_ServiceAccount_Password" value="w1z@rd&amp;gl@ss" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>